<mat-form-field appearance="outline">
    <mat-label>Roles</mat-label>
    <div formArrayName="roles">
      <div *ngFor="let role of roles.controls; let i = index" style="display: flex; align-items: center;">
        <!-- Role name -->
        <mat-form-field appearance="outline" style="flex: 1; margin-right: 10px;">
          <mat-label>Position</mat-label>
          <mat-select [formControlName]="i">
            <mat-option *ngFor="let roleOption of roleOptions" [value]="roleOption">{{ roleOption }}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Management checkbox -->
        <mat-checkbox formControlName="{{i}}IsPrincipal" style="margin-right: 10px;">Management</mat-checkbox>
        <!-- Date picker for entering position date -->
        <mat-form-field appearance="outline" style="flex: 1; margin-right: 10px;">
          <mat-label>Enter Position Date</mat-label>
          <input matInput [matDatepicker]="enterPositionDatepickers.toArray()[i]" [formControlName]="i + 'EnterWorking'" placeholder="Enter Date">
          <mat-datepicker-toggle matSuffix [for]="enterPositionDatepickers.toArray()[i]"></mat-datepicker-toggle>
          <mat-datepicker #enterPositionDatepicker></mat-datepicker>
        </mat-form-field>
        <!-- Button to remove role -->
        <button mat-icon-button color="warn" (click)="removeRole(i)">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </div>
    <!-- Button to add a new role -->
    <button mat-icon-button color="primary" (click)="addRole()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-form-field>
  
