.container {
  display: flex;
  height: 100vh;

}
/* .backgr{
  background-color: darkgray;
} */
.inputs-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px;
  background-color: darkgray;
  /* margin-top: 5%;
  margin-bottom: 8%;
  margin-left: 5%;
  margin-right: 5%;
} */
}
.picture-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image {
  max-width: 100%;
  max-height: 100%;
}
 
 